= link_to user_google_oauth2_omniauth_authorize_path, id: "google-link", class: "auth-button-lg mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" do
  %svg.oauth-svg{ viewBox: "0 0 63.828 100" }
    %path{ fill: "#fff", d: "M18.974 91.531q6.837 3.657 14.628 3.657 7.738 0 13.621-3.233 5.83-3.233 5.83-11.077 0-3.922-1.749-6.466t-3.657-4.346-3.657-3.074q-1.696-1.219-3.18-2.226t-1.855-1.272q-7.844-.848-16.006 1.802-11.766 3.869-11.766 13.78 0 4.134 2.173 7.367 2.12 3.233 5.618 5.088zm26.818-61.586q0-4.876-1.007-8.904-1.007-4.081-2.862-7.897t-5.088-6.307-7.208-2.491q-5.671 0-8.745 4.187t-3.074 10.176 2.968 12.455 8.003 9.434q2.809 1.59 5.883 1.537 5.83 0 8.48-3.657t2.65-8.533zm-7.95-29.945l26.5 0l-8.215 4.77l-8.162 0q4.293 2.703 6.678 7.632t2.385 9.805q-.053 9.116-4.823 13.992-1.961 2.12-3.975 3.922-4.717 4.293-4.77 7.473t3.551 6.307q1.59 1.378 3.551 2.915 7.844 6.148 9.699 11.554 1.325 3.975 1.325 7.42 0 9.699-8.851 17.331t-25.069 7.685q-7.685-.053-12.985-2.067-5.353-2.014-8.215-4.081t-4.664-5.353-1.802-7.208 2.12-8.056q5.3-10.6 24.115-13.515 4.505-.689 9.063-.795-3.869-5.035-3.869-9.063-.053-1.59.583-3.127t.742-2.067q-2.438.318-4.24.318-9.01 0-15.476-5.936-6.466-5.989-6.466-14.681t5.777-15.423q5.777-6.678 14.204-8.533 5.671-1.219 11.289-1.219z" }
  %span Google

.margin-bottom-10

= link_to user_facebook_omniauth_authorize_path, id: "facebook-link", class: "auth-button-lg mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" do
  %svg.oauth-svg{ viewBox: "0 0 46.628 100" }
    %path{ fill: "#fff", d: "M30.952 32.701l15.582 0l-1.855 17.225l-13.727 0l0 49.873l-20.67 0l0-49.873l-10.282 0l0-17.225l10.282 0l0-10.335q0-11.024 5.194-16.695t17.172-5.671l13.727 0l0 17.172l-8.586 0q-4.717 0-5.777 1.749t-1.06 5.194l0 8.586z" }
  %span Facebook

.margin-v-10.full-width
  #oauth-divider
    %span or
